<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienvenidos</title>
</head>
<body>
  <h1>bienvenidos <b>luz</b></h1> 
  <p>bienvenidos a mi <b>{pagina web}</b></p>
   <a href=".">saludo</a>
<p>¡¡ <b>buenos dias</b>!!</p>
<h2> <b>presentacion</b></h2>
<p>soy la estudiante <b>luz rondan</b> del instituto tecnologico de <b>daniel villar</b> </p>
<p> tengo <span style="color:royalblue">20 años</span> este año estoy en <em>cuarto siclo</em> </p>
<p>utilizo la ia <a href="https://chatGPT.com">chatGPT</a> tambien <a href="https://Dola.com">Dola</a> </p>


S

</body>
</html>