<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>privacidad</title>

<head>
<body>
    <h1>privacidad</h1>
<h2>terminos y condiciones</h2>
<h3>seguridad</h3>
<h4>datos impotantes <em>para estudiantes</em> </h4>
<p>no utilizar <b>codigos de seguridad</b> </p>
<p>nombre  <b>luz mary</b> apellido <b>rondan antonio</b> </p>
<a href=".">politicas de seguridad</a>
<a href=".">dato seguro</a>
<p>seccion 1 <br> seccion 2</p>
<p>linea 1 <hr> linea 2</p>
<p>color <span style="color:red">rojo</span></p>
<p>nombre <span style="color:blueviolet">luz</span></p>
<ul>
    <li>cuadernos</li>
    <li>laliz</li>
    <li>borrador</li>
    <li>tajador</li>
</ul>

<ol>
    <li>cuaderno</li>
    <li>lapiz</li>
    <li>borradors</li>
    <li>tajador</li>
</ol>
<a href="https://google.com">visitar google</a> <br>
<a href="https://whatsApp.com">visitar whatsApp</a> <br>
 <a href="https://TikTok.com">visitar tiktok</a>
 
<a href="index.html">siguiente pagina</a>


 

</body>
</html>