<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>POLÍTICAS DE COOKIES</h1> 
<p>Nuestra plataforma utiliza cookies y tecnologías similares para mejorar la experiencia de navegación, facilitar el funcionamiento del sitio web, recordar las preferencias de los usuarios y analizar el uso de nuestros servicios.
Las cookies son pequeños archivos que se almacenan en el dispositivo del usuario y permiten reconocer determinadas configuraciones y acciones realizadas durante la navegación.
Podemos utilizar <b>cookies necesarias</b>, que permiten el correcto funcionamiento del sitio; <b>cookies de preferencias</b>, que recuerdan las configuraciones seleccionadas por el usuario; <b>cookies analíticas</b>, que nos ayudan a conocer cómo se utiliza nuestra plataforma; y, cuando corresponda, <b>cookies de terceros o de marketing</b>, destinadas a mejorar nuestros servicios y mostrar contenido relacionado con los intereses del usuario.
Las cookies necesarias pueden utilizarse para garantizar el funcionamiento básico de la plataforma. Para las cookies que requieran consentimiento, el usuario podrá <b>aceptarlas, rechazarlas o configurar sus preferencias</b> mediante las opciones disponibles en el sitio web. El usuario podrá modificar o retirar su consentimiento cuando lo considere necesario.
La información obtenida mediante cookies será utilizada de acuerdo con nuestra <b>Política de Privacidad</b> y la normativa peruana vigente sobre protección de datos personales. La empresa aplicará medidas destinadas a proteger la información de los usuarios.
Para conocer qué cookies utilizamos, su finalidad, duración y los terceros que podrían participar en su tratamiento, el usuario podrá consultar nuestro <b>Panel de Configuración de Cookies.</b>
Para cualquier consulta relacionada con el uso de cookies y la protección de datos personales, el usuario puede comunicarse con nosotros mediante los canales de contacto disponibles en nuestra plataformas.</p>

<div class="botones cookies">
     <button 
     onclick="aceptarCookies()">Aceptar</button> 
    <button
    onclick="rechazarCookies()">Rechazar</button> 
</div>


</body>
</html>