<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>TÉRMINOS Y CONDICIONES</h1>
  <H2>REGISTRO Y CORREO ELECTRÓNICO</H2> 
  <p>Al registrarse en nuestra plataforma, el usuario podrá autorizar voluntariamente el uso de su correo electrónico para recibir información, novedades, promociones y ofertas de nuestros productos y servicios. Esta autorización podrá ser aceptada o rechazada por el usuario.
</p> 
<H2>PRIVACIDAD Y PROTECCIÓN DE DATOS</H2>
<P>La información proporcionada por nuestros clientes será tratada de manera confidencial y protegida mediante medidas de seguridad adecuadas. Los datos personales serán almacenados de forma segura y, cuando corresponda, mediante mecanismos de cifrado. La información se utilizará únicamente para las finalidades relacionadas con la gestión de la cuenta, compras y atención al cliente.</P>
<H2>CARRITO DE COMPRAS</H2>
<P>El usuario podrá visualizar en todo momento los productos que haya agregado a su carrito de compras antes de realizar el pago. Podrá revisar, agregar, eliminar o modificar la cantidad de productos seleccionados antes de confirmar su pedido.
</P>
<H2>AUTORIZACIÓN DEL USUARIO</H2>
<P>Antes de completar el registro o realizar una compra, el usuario podrá revisar las condiciones aplicables y otorgar su autorización cuando corresponda. La aceptación de estos términos confirma que el usuario ha leído y comprendido las condiciones establecidas.</P>
<H2>SEGURIDAD DE LA INFORMACIÓN</H2>
<P>La empresa implementará medidas de seguridad destinadas a proteger la información de los usuarios frente a accesos, modificaciones, pérdidas o usos no autorizados.</P>

<div class="botones terminos y condiciones">
  <button 
  onclick="aceptarTerminosyCondiciones()">Aceptar</button>
<button
onclick="rechazarTerminosyCondiciones()">Rechazar</button>
</div>


</body>
</html>